<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <img id="project-photo" width="128" height="128" alt="David Fernandez" src="/assets/images/profile_square.png">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <h3 class="project-quote"><em>"As to methods, there may be a million and then some, but principles are few. The man who grasps principles can successfully select his own methods." ― Harrington Emerson</em></h3>
      
      <a href="https://www.linkedin.com/in/davidfernandez31/" class="btn">Get in touch</a>

      {% if site.show_downloads %}
        <a href="/assets/resume_092019.pdf" class="btn">Download CV</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!-- <span class="site-footer-credits">© David Fernández 2019. All rights reserved</span> -->
        <span class="site-footer-credits">
          <a href="https://twitter.com/davidef_7?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-show-count="false">Follow @davidef_7</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </span>
      </footer>
    </main>
  </body>
</html>